.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: wait;
    background-color: #fbfbfb;
    position: fixed;
    animation-name: loader;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes loader{
    0%{
        z-index: 999;
        opacity: 1;
    }

    99%{
        z-index: 999;
        opacity: 1;
    }

    100%{
        z-index: -999;
        opacity: 0;
    }
}

.loading span{
    width: 25px;
    height: 25px;
    margin: 0 5px;
    background-color:#9356DC;
    border-radius: 50%;
    display: inline-block;
    animation-name: dots;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
 }

 @keyframes dots{
    50%{
        opacity: 0;
        transform: scale(0.7) translateY(10px);
    }
}

 .loading span:nth-child(2) {
    background-color: #FF79DA ;
    animation-delay: 0.4s;
 }

 .loading span:nth-child(3) {
    background-color: #99E2D0;
    animation-delay: 0.8s;
}

body {
    margin: 0px;
    z-index: 1;
}

header img {
    max-width: 50%;
    display: block;
    margin-left:auto;
    margin-right: auto;
    padding: 13px;
}

a:visited {
    color: black;
    text-decoration: none;
}
.barreRecherche {
    display: flex;
    justify-content: center;
    background-color: #DCDCDC;
    padding: 10px 90px 10px 90px;
    box-shadow: inset 0px 7px 3px -6px rgba(136, 136, 136, 0.75);
}

.zoneRecherche {
    border: none;
    background-color: #DCDCDC;
    margin-left: 10px;

}

.présentation {
    background-color: #f2f2f2;
    padding: 10px 20px 40px 20px;
}   

.texte1 {
    font-size: 25px;
}

.texte2 {
    color: #8b8b8b;
}

.présentation p {
    text-align: center;
}

.btn-explorer{
    background-color: #9356DC;
    padding: 10px;
    border-radius: 20px;
    color: white;
    border: none;
    box-shadow: 0px 0px 6px 0px #0000002e;
    transition: 0.4s;
}

.btn-explorer:hover{
    background-image: linear-gradient( #da49ae, #9356DC);
    cursor: pointer;
    transform: scale(1.05);
}

.block-btn{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    
}

.section1{
    padding: 20px;
    height: 300px;
}

.section1 p {
    margin: 0 0 0 20px;   
}

.number {
    color: white;
    font-size: 15px;
    border-radius: 40px;
    background-color: #9356DC;
    padding: 7px 10px 5px 10px;
    position: relative;
    right: 28px;
    bottom: 7px;
}

.number p {
    margin: 0;
}

.fonctionnement {
    display: flex;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    background-color: #f2f2f2;
    margin: 20px 0 20px 0;
    padding: 15px 25px 5px 20px;
    box-shadow: 0px 0px 6px 0px #0000002e;
}

.fa-mobile-alt {
    color: rgb(90, 90, 90);
}

.fa-ellipsis-v{
    color: rgb(90, 90, 90);
}

.fa-bars {
    color: rgb(90, 90, 90);
}

.fa-store {
    color: #9356DC;
}

.section2{
    background-color: #f2f2f2;
    padding: 15px 15px 50px 15px;
}

h2 {
    font-family: 'Roboto', Arial, sans-serif;
}

.carteRestaurant {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "carte1" 
    "carte2"
    "carte3"
    "carte4";
    grid-gap: 20px;
}

.carte1 {
    grid-area: carte1;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    display:grid; 
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "img"
    "img"
    "img"
    "description"; 
    box-shadow: 0px 0px 6px 0px #0000002e;
    height: 40vh;
    transition: 0.4s;
}

.carte1:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.carte1 a 
{
    grid-area: img;
    background: url(Maquettes_Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-decoration: none;
}

.carte1 .divDescription
{   
    grid-area: description;
    font-size: 15px;
    background-color: white; 
    padding-left: 10px; 
}

.carte2 {
    grid-area: carte2;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    display:grid; 
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "img"
    "img"
    "img"
    "description"; 
    box-shadow: 0px 0px 6px 0px #0000002e;
    height: 40vh;
    transition: 0.4s;
}

.carte2:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.carte2 a
{
    grid-area: img;
    background: url(Maquettes_Ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-decoration: none;
}

.carte2 .divDescription
{
    grid-area: description;
    font-size: 15px;
    background-color: white; 
    padding-left: 10px; 
}

.carte3 {
    grid-area: carte3;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    display:grid; 
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "img"
    "img"
    "img"
    "description"; 
    box-shadow: 0px 0px 6px 0px #0000002e;
    height: 40vh;
    transition: 0.4s;
}

.carte3:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.carte3 a
{
    grid-area: img;
    background: url(Maquettes_Ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.carte3 .divDescription
{
    grid-area: description;
    font-size: 15px;
    background-color: white; 
    padding-left: 10px; 
}

.carte4 {
    grid-area: carte4;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    display:grid; 
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "img"
    "img"
    "img"
    "description"; 
    box-shadow: 0px 0px 6px 0px #0000002e;
    height: 40vh;
    transition: 0.4s;
}

.carte4:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.carte4 a
{
    grid-area: img;
    background: url(Maquettes_Ohmyfood/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.carte4 .divDescription
{
    grid-area: description;
    font-size: 15px;
    background-color: white; 
    padding-left: 10px; 
}

.carteRestaurant p {
    margin: 0;
}

.carteRestaurant h3 {
    margin: 0;
    padding-bottom: 5px;
    font-family: 'Roboto', Arial, sans-serif;
}

.divDescription{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 9vh;
    width: 92%;
}

.sousdivDescription{
    width: 150px;
}

p {
    font-family: 'Roboto', Arial, sans-serif;
}

.heart1 {
    position: relative;
    top: 10px;
}

.heart1:hover{
    display: none;
}

.heart2{
    position: relative;
    top: 10px;
    right: 20px;
    opacity: 0;
    color: #9356DC;
}

.heart2:hover{
    opacity: 1;
}

.heartDiv{
    display: flex;
    width: 22px;
}

.nouveau {
    border: 1px solid #99E2D0;
    background-color: #99E2D0;
    position: relative;
    top: 17px;
    left: 71%;
    color: #14745c;
    padding: 5px 10px 5px 10px;
    margin: 0px;
    font-family: 'Roboto'
}

.footer {
    background-color: rgb(54, 54, 54);
    height: 35vh;
    padding: 12px 0px 0px 12px;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0px;
}

.footer ul a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 13px;
}

.footer h4 {
    color: rgb(255, 255, 255);
    font-family: 'Shrikhand', Arial, sans-serif;
    font-weight: 100;
    font-size: 16px;
    margin: 0px;
    padding-bottom: 12px;

}

.fa-utensils {
    color: white;
    padding-right: 10px;
}

.fa-hands-helping {
    color: white ;
    padding-right: 10px;
}

@media (min-width: 601px)
{
    header img {
        width: 25%;
    }

    .barreRecherche {
        padding: 10px;
    }
    
    .block-btn{
        width: 20%;
    }

    .section1{
        padding: 20px;
        height: 200px;
    }

    .section1 h2 {
        width: 100%;
    }

    .fonctionnementS{
        display: flex;
        justify-content: space-between;
    }
    
    .fonctionnement {
        margin:  10px;
        padding: 15px 25px 5px 20px;
        width: 25%;
        height: 30px;
        
    }

    .section2 {
        padding: 20px 20px 40px 20px;
    }

    .carteRestaurant {
        grid-template-columns: 2fr;
        grid-template-rows: 2fr;
        grid-template-areas: 
        "carte1 carte2"
        "carte3 carte4";
        grid-gap: 40px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;
        margin-bottom: 30px;
        width: 90%;
    }

    .carte1, .carte2, .carte3, .carte4 {
        width: 40vw;

    }

    .footer {
        padding: 20px 0px 0px 30px;
    }

    .footer ul a {
        font-size: 18px;  
    }
    
    .footer h4 {
        font-size: 25px;
        padding-bottom: 18px;
    }

}

@media (min-width: 500px) and (max-width: 600px)
{
    header img{
        width: 35%;
    }

    .barreRecherche {
        padding: 10px;
    }
}

@media (min-width: 801px)
{   
    .carte{
        height: 175vh;
    }

    .footer h4{
        text-align:center;
    }

    .footer ul{
        display: flex;
        justify-content: space-between;
        margin-right: auto;
        margin-left: auto;
        width: 75%;
        margin-top: 30px;
    }

    .footer ul a {
        font-size: 20px;
    }
}

@media (min-width: 800px) and (max-width: 970px)
{
    .section1 p{
        position: relative;
        bottom: 10px;
    }

    .section1 .number p{
        position: relative;
        top: 1px;
        
    }
}

@media (min-width: 710px) and (max-width: 800px)
{
    .section1 p{
        position: relative;
        bottom: 10px;
    }

    .section1 .number p{
        position: relative;
        top: 1px;
        
    }

    .nouveau{
        left: 67%;
    }
}

@media (min-width: 601px) and (max-width: 710px)
{
    .section1{
        height: 300px;
    }

    .fonctionnementS{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fonctionnement{
        width: 50%;
    }

    .nouveau{
        left: 61%;
    }

}

@media (min-width: 450px) and (max-width: 600px)
{
    .fonctionnementS{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fonctionnement{
        width: 65%;
        margin: 13px 0 13px 0;
    }

    .nouveau{
        left: 79%;
    }
}

@media (max-width: 350px)
{
    .nouveau{
        left: 68%;
    }
}

@media (min-width: 950px)
{
    .nouveau{
        left: 75%;
    }
}



