* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
}

header{
    display: flex;
}

.fa-arrow-left{
    position: relative;
    left: 20px; top: 18px;
}

a:visited {
    color: black;
  }

header img {
    max-width: 50%;
    display: block;
    margin-left:auto;
    margin-right: auto;
    padding: 13px;  
}

.enTete{
    display: flex;
    justify-content: space-between;
    margin-top: 20px; 
}

.heart1{
    position: relative;
    top: 10px; 
}

.heart1:hover{
    display: none;
}

.heart2{
    position: relative;
    top: 10px; 
    right: 21px;
    opacity: 0;
    color: #9356DC;
}

.heart2:hover{
    opacity: 1;
}

.heartDiv{
    display: flex;
    width: 22px;
}

.carte {
    display:grid; 
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "img"
    "description"
    "description"
    "description";
    background-color: #f2f2f2;
}

.divImgMenu1{
    grid-area: img;
    background: url(Maquettes_Ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.divImgMenu2{
    grid-area: img;
    background: url(Maquettes_Ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.divImgMenu3{
    grid-area: img;
    background: url(Maquettes_Ohmyfood/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.divImgMenu4{
    grid-area: img;
    background: url(Maquettes_Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.divDescription{
    background-color: #f2f2f2;
    grid-area: description;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 15px 15px 0px 15px ;
    position: relative;
    bottom: 35px;
}

.sousCarte1, .sousCarte2, .sousCarte3, .sousCarte4, .sousCarte5, .sousCarte6, .sousCarte7, .sousCarte8, .sousCarte9, .sousCarte10{
    animation-name: transition;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    opacity: 0;
    height: 50px;
    max-width: 99.7%;
    background-color: white;
    border: 1px solid none ;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
    box-shadow: 0px 0px 6px 0px #0000002e;
    display: flex;
    justify-content: space-between;
}

@keyframes transition{
    100%{
        opacity: 1;
    }
}

.sousCarte1{
    animation-delay: 0.25s; 
    transform: translateY(5px);
}

.sousCarte2{
    animation-delay: 0.5s;
    transform: translateY(5px);
}

.sousCarte3{
    animation-delay: 0.75s;
    transform: translateY(5px);
}

.sousCarte4{
    animation-delay: 1s;
    transform: translateY(5px);
}

.sousCarte5{
    animation-delay: 1.25s;
    transform: translateY(5px);
}

.sousCarte6{
    animation-delay: 1.5s;
    transform: translateY(5px);
}

.sousCarte7{
    animation-delay: 1.75s;
    transform: translateY(5px);
}

.sousCarte8{
    animation-delay: 2s;
    transform: translateY(5px);
}

.sousCarte9{
    animation-delay: 2.25s;
    transform: translateY(5px);
}

.sousCarte10{
    animation-delay: 2.50s;
    transform: translateY(5px);
}

.sousCarte1:hover, .sousCarte2:hover, .sousCarte3:hover, .sousCarte4:hover, .sousCarte5:hover, .sousCarte6:hover, .sousCarte7:hover, .sousCarte8:hover, .sousCarte9:hover, .sousCarte10:hover {
    cursor: pointer;
}

.texteSousCarte{
    padding: 7px;
    width: 100%;
}
.sousCarte1:hover > .texteSousCarte, .sousCarte2:hover > .texteSousCarte, .sousCarte3:hover > .texteSousCarte, .sousCarte4:hover > .texteSousCarte, .sousCarte5:hover > .texteSousCarte, .sousCarte6:hover > .texteSousCarte, .sousCarte7:hover > .texteSousCarte, .sousCarte8:hover > .texteSousCarte, .sousCarte9:hover > .texteSousCarte, .sousCarte10:hover > .texteSousCarte{
    width: 85%;
}

.checkbox{
    background-color: #99E2D0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: scaleX(0);
}

.sousCarte1:hover > .checkbox, .sousCarte2:hover > .checkbox, .sousCarte3:hover > .checkbox, .sousCarte4:hover > .checkbox, .sousCarte5:hover > .checkbox, .sousCarte6:hover > .checkbox, .sousCarte7:hover > .checkbox, .sousCarte8:hover > .checkbox, .sousCarte9:hover > .checkbox, .sousCarte10:hover > .checkbox{
    transform: scaleX(1);
    transition: transform 500ms ;
    transform-origin: right 50%;
    width: 52px;
}

.fa-check-circle{
    color: white;
    position: relative;
    left: 18px;
    top: 17px;
}

.sousCarte1:hover .fa-check-circle, .sousCarte2:hover .fa-check-circle, .sousCarte3:hover .fa-check-circle, .sousCarte4:hover .fa-check-circle, .sousCarte5:hover .fa-check-circle, .sousCarte6:hover .fa-check-circle, .sousCarte7:hover .fa-check-circle, .sousCarte8:hover .fa-check-circle, .sousCarte9:hover .fa-check-circle, .sousCarte10:hover .fa-check-circle {
    animation-name: rotation; 
    animation-duration: 0.5s;
}

@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.texteSousCarte h5{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.paragraphe{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.paragraphe p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.txt {
    width: 75%;
}

h5, p {
    font-family: 'Roboto', Arial, sans-serif;
}

p {
    font-size: smaller;
}

h2 {
    font-family: 'Shrikhand', Arial, sans-serif;
}

.titre {
    margin-top: 25px;
    border-bottom: 2px solid #99E2D0;
    width: 35px;
    
}

.btn-explorer{
    background-image: linear-gradient( #da49ae, #9356DC);
    padding: 12px 25px 12px 25px;
    border-radius: 20px;
    color: white;
    border: none;
    box-shadow: 0px 0px 9px 0px #000000;
    transition: 0.4s;
}

.btn-explorer:hover{
    filter: brightness(1.18);
    cursor: pointer;
    transform: scale(1.05);
}

.block-btn{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 60px;
}

#btn-LNE{
    margin-left: 34%;
    margin-right: 0;
    margin-top:60px
}

.footer {
    background-color: rgb(54, 54, 54);
    height: 150px;
}

.footer ul {
    list-style: none;
    padding: 15px;
    margin: 0px;
}

.footer ul a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 15px;
    
}

.footer h4 {
    color: white;
    font-family: 'Shrikhand', Arial, sans-serif;
    margin: 0px;
    padding: 18px 0 0 15px;
    font-weight: 100;
    font-size: 25px;
}

.fa-utensils {
    color: white;
    padding-right: 10px;
}

.fa-hands-helping {
    color: white ;
    padding-right: 10px;
}

@media (min-width: 601px)
{
    header {
        justify-content: center;
    }

    .fa-arrow-left:before {
        display:none
    }
    
    header img {
        width: 60%;
        max-width: none;
        
    }

    .carte {
        display:grid; 
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "img"
        "img"
        "description"
        "description";
        background-color: #f2f2f2;
        height: 160vh;
    }

    .divDescription{
        padding-left: 30px;
    }

    .menu{
        width: 97%;
        display: flex;
        justify-content: space-between; 
        padding-top: 20px;
    }

    .entree, .plats, .desserts{
        width: 28vw;
    }

    .sousCarte1, .sousCarte2, .sousCarte3, .sousCarte4, .sousCarte5, .sousCarte6, .sousCarte7, .sousCarte8, .sousCarte9, .sousCarte10{
        width: 28vw;
    }

    .block-btn{
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 160px;
    }

    #btn-LNE{
        margin-left: 42%;
        margin-right: 0;
        margin-top:60px;
        margin-bottom:60px
    }

    .footer{
        height: 200px ;
        padding-left: 15px;
    }

}

@media (min-width: 450px) and (max-width: 600px)
{   
    header {
    justify-content: space-between;
    width: 90%;
    }
    
}

@media (min-width: 600px) and (max-width: 800px)
{
    .carte {
        display:grid; 
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "img"
        "description"
        "description";
        background-color: #f2f2f2;
        height: 255vh;
    }

    .menu{
        flex-direction: column;
        margin:auto;
        width: 80%;
    }

    .entree, .plats, .desserts{
        width: 50vw;
        margin: auto;
    }

    .sousCarte1, .sousCarte2, .sousCarte3, .sousCarte4, .sousCarte5, .sousCarte6, .sousCarte7, .sousCarte8, .sousCarte9, .sousCarte10{
        width: 70vw;
    }

    .block-btn{
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 80px;
    }
}

@media (min-width: 801px)
{   
    .carte{
        height: 175vh;
    }

    .footer h4{
        text-align:center;
    }

    .footer ul{
        display: flex;
        justify-content: space-between;
        margin-right: auto;
        margin-left: auto;
        width: 75%;
        margin-top: 30px;
    }

    .footer ul a {
        font-size: 20px;
    }
}

@media (max-width: 370px)
{
    .texteSousCarte h5{
        width: 65%;
    }

    .txt{
        width: 65%;
    }

    .sousCarte1, .sousCarte2, .sousCarte3, .sousCarte4, .sousCarte5, .sousCarte6, .sousCarte7, .sousCarte8, .sousCarte9, .sousCarte10{
        width: 94vw;
    }
}